<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right">
                <a [routerLink]="'/wishlist'"><h4>My Wishlist</h4></a>
            </div>
        </div>
    </div>
    <div class="row " [ngClass]="{'margin-top-160': !dataLoaded}">
        <div class="col-xs-12">
            <div class="text-center">
                <h2 class="text-center"><b>SEARCH AND ADD TO YOUR WISHLIST</b></h2>
                <select style="width: 30%" select2 [searchOptions]="searchOptions"
                        (on-select)="onSuggestionSelect($event)"></select>
            </div>
            <div class="row" *ngIf="loadingData">
                <div class="col-xs-12">
                    <div class="sk-folding-cube">
                        <div class="sk-cube1 sk-cube"></div>
                        <div class="sk-cube2 sk-cube"></div>
                        <div class="sk-cube4 sk-cube"></div>
                        <div class="sk-cube3 sk-cube"></div>
                    </div>
                </div>
            </div>
            <div class="row margin-top-40" *ngIf="dataLoaded">
                <div class="col-xs-12">
                    <div class="item-container" *ngFor="let searchItem of searchList">
                        <div class="row">
                            <div class="col-xs-12 col-md-1">
                                <img class="img-responsive" width="100" [src]="searchItem.image">
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div><small><b>{{searchItem.subTitle}}</b></small></div>
                                <h4><b><a [href]="searchItem.url" target="_blank">{{searchItem.suggestion}}</a></b></h4>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div><p-rating readonly="true" [cancel]="false" name="rating" [(ngModel)]="searchItem.rating"></p-rating></div>
                                <div class="margin-top-10">{{searchItem.reviews == 0 ? 'No Reviews' : searchItem.reviews + ' reviews'}} </div>
                                <div><h3><b>{{searchItem.separatedSalePrice}} £ </b></h3></div>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <div class="pull-right">
                                    <button class="btn btn-default" [disabled]="searchItem.added" (click)="addItemToWishlist(searchItem)">{{searchItem.added ? 'Added' : 'Add To Wishlist'}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>