<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right">
                <a [routerLink]="'/'"><h4>Search Page</h4></a>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-xs-12">
            <div class="text-center">
                <h2 class="text-center"><b>MY ADIDAS WISHLIST</b></h2>
            </div>
            <div class="row" *ngIf="loadingData">
                <div class="col-xs-12">
                    <div class="sk-folding-cube">
                        <div class="sk-cube1 sk-cube"></div>
                        <div class="sk-cube2 sk-cube"></div>
                        <div class="sk-cube4 sk-cube"></div>
                        <div class="sk-cube3 sk-cube"></div>
                    </div>
                </div>
            </div>
            <div class="row margin-top-40" *ngIf="!loadingData">
                <div class="col-xs-12">
                    <div class="item-container" *ngFor="let item of items">
                        <div class="row">
                            <div class="col-xs-12 col-md-1">
                                <img class="img-responsive" width="100" [src]="item.image">
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div><small><b>{{item.subTitle}}</b></small></div>
                                <h4><b><a [href]="item.url" target="_blank">{{item.name}}</a></b></h4>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div><p-rating readonly="true" [cancel]="false" name="rating" [(ngModel)]="item.rating"></p-rating></div>
                                <div class="margin-top-10">{{item.reviews == 0 ? 'No Reviews' : item.reviews + ' reviews'}} </div>
                                <div><h3><b>{{item.separatedSalePrice}} £ </b></h3></div>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <div class="pull-right">
                                    <button class="btn btn-default" (click)="deleteFromWishlist(item._id)">Delete from the wishlist</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>