.introduce-cat-image {
  border: 7px solid white;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.button-stick-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.padding-left-50 {
  padding-left: 50px;
}

.padding-right-50 {
  padding-right: 50px;
}